{{ define "title"}}
{{ .Title }} | {{ .Site.Params.author }}
{{ end }}


{{ define "main" }}
<div class="postWrapper">
    <h1>{{ .Title }}</h1>
    <div class="date-header">{{ .Date.Format "January 2, 2006" }}</div>
    <div>
        {{ $image := .Resources.GetMatch "cover.jpg" }}
        {{ with $image }}
        <img src="{{ .RelPermalink }}" width="700" height="300">
        {{ end }}
        {{ .Content }}
    </div>
    {{ if not (eq .RelPermalink "/about/") }}
    <script src="https://giscus.app/client.js" data-repo="thilankal/comments" data-repo-id="R_kgDOLCvxyg"
        data-category="[ENTER CATEGORY NAME HERE]" data-category-id="[ENTER CATEGORY ID HERE]" data-mapping="pathname"
        data-strict="0" data-reactions-enabled="1" data-emit-metadata="0" data-input-position="bottom"
        data-theme="preferred_color_scheme" data-lang="en" crossorigin="anonymous" async>
        </script>
    {{ end }}
</div>
{{ end }}