/* css media query */

@media screen and (max-width: 600px) {
    .content {
        width: 100%;
    }
}

.date-header {
    color: rgb(144, 158, 170);
    margin-top: -1rem;
    margin-bottom: 2rem;
}

img{
    max-width: 100%;
    height: auto;
}